@model Cake_shop.Models.ProductModel
@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section naviheader {
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin/Home" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin/Products" class="nav-link">Sản phẩm</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Thêm mới</a>
        </li>
    </ul>
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Thêm mới sản phẩm</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Sản phẩm</a></li>
                    <li class="breadcrumb-item active">Thêm mới</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Thông tin thêm mới sản phẩm</h3>


        </div>
        <div class="card-body">
            <div class="bs-stepper-content">
                @using (Html.BeginForm("Add", "Products", FormMethod.Post, new { }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="card">
                        <div class="card-header p-2">
                            <ul class="nav nav-pills">
                                <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Thông tin chung</a></li>
                                <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Hình ảnh</a></li>
                            </ul>
                        </div><!-- /.card-header -->
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="active tab-pane" id="activity">
                                    <div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Tên sản phẩm</label>
                                            @Html.TextBoxFor(x => x.title, new { @class = "form-control", @placeholder = "Tên sản phẩm" })
                                            @Html.ValidationMessageFor(x => x.title, null, new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Mô tả</label>
                                            @Html.TextAreaFor(x => x.description, new { @class = "form-control", @placeholder = "Mô tả ngắn" })
                                            @Html.ValidationMessageFor(x => x.description, null, new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Chi tiết sản phẩm</label>
                                            @Html.TextAreaFor(x => x.content, new { @class = "form-control", @placeholder = "Chi tiết sản phẩm", @id = "txtContent" })
                                            @Html.ValidationMessageFor(x => x.content, null, new { @class = "text-danger" })
                                        </div>
                                        <div class="row">
                                            <div class="col-3">
                                                <div class="form-group">
                                                    <div class="custom-control custom-checkbox">
                                                        @Html.CheckBoxFor(x => x.status, new { @class = "custom-control-input", @id = "statusCheckbox", @checked = "checked" })
                                                        <label for="statusCheckbox" class="custom-control-label">Hiển thị</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="form-group">
                                                    <div class="custom-control custom-checkbox">
                                                        @Html.CheckBoxFor(x => x.hot, new { @class = "custom-control-input", @id = "hotCheckbox" })
                                                        <label for="hotCheckbox" class="custom-control-label">Hot</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="form-group">
                                                    <div class="custom-control custom-checkbox">
                                                        @Html.CheckBoxFor(x => x.new_product, new { @class = "custom-control-input", @id = "newCheckbox" })
                                                        <label for="newCheckbox" class="custom-control-label">Sản phẩm mới</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="form-group">
                                                    <div class="custom-control custom-checkbox">
                                                        @Html.CheckBoxFor(x => x.promotion_product, new { @class = "custom-control-input", @id = "SaleCheckbox" })
                                                        <label for="SaleCheckbox" class="custom-control-label">Khuyến mãi</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Số lượng</label>
                                                    @Html.TextBoxFor(x => x.quantity, new { @class = "form-control", @placeholder = "Số lượng" })
                                                    @Html.ValidationMessageFor(x => x.quantity, null, new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Giá</label>
                                                    @Html.TextBoxFor(x => x.price, new { @class = "form-control", @placeholder = "Giá" })
                                                    @Html.ValidationMessageFor(x => x.price, null, new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Giá khuyến mãi</label>
                                                    @Html.TextBoxFor(x => x.discount, new { @class = "form-control", @placeholder = "Khuyến mãi" })
                                                    @Html.ValidationMessageFor(x => x.discount, null, new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label asp-for="CategoryId">Danh mục sản phẩm</label>
                                                    @Html.DropDownListFor(x => x.CategoryId, ViewBag.ProductCategory as SelectList, "Chọn danh mục sản phẩm", new { @class = "form-control", @placeholder = "Khuyến mãi" })
                                                    @Html.ValidationMessageFor(x => x.CategoryId, null, new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Kích thước</label>
                                                    @Html.TextBoxFor(x => x.size, new { @class = "form-control", @placeholder = "Kích thước" })
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Khối lượng</label>
                                                    @Html.TextBoxFor(x => x.weight, new { @class = "form-control", @placeholder = "Khối lượng" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Nguyên liệu</label>
                                            @Html.TextAreaFor(x => x.ingredient, new { @class = "form-control", @placeholder = "Nguyên liệu làm bánh" })
                                            @Html.ValidationMessageFor(x => x.ingredient, null, new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Ghi chú</label>
                                            @Html.TextAreaFor(x => x.note, new { @class = "form-control", @placeholder = "Mô tả ngắn" })
                                            @Html.ValidationMessageFor(x => x.note, null, new { @class = "text-danger" })
                                        </div>


                                    </div>
                                    <div id="information-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger">

                                    </div>
                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="timeline">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="button" class="btn btn-primary" id="iTaiAnh" onclick="BrowerServer()" value="Tải ảnh" />
                                        </div>
                                        <div class="col-md-12">
                                            <table class="table table-hover" id="tbAnhsanPham">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">#</th>
                                                        <th class="text-center">Ảnh</th>
                                                        <th class="text-center">Ảnh đại diện</th>
                                                        <th class="text-center">Thao tác</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tbodyHtml">
                                                </tbody>
                                            </table>
                                            <input type="hidden" id="tCurrentId" value="0" />
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <!-- /.tab-content -->
                            <a href="/Admin/Products" class="btn btn-danger">Quay lại</a>
                            <button type="submit" class="btn btn-primary">Thêm mới</button>
                        </div><!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                }

            </div>
        </div>
    </div>
    <!-- /.card-body -->
    <div class="card-footer">

    </div>
    <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
@section scripts{
    <script>
        $(document).ready(function () {
            CKEDITOR.replace('txtContent', {
                customConfig: '/Content/ckeditor/config.js',
                extraAllowedContent: 'span',
            });
            $('body').on('click', '.btnXoaAnh', function () {
                $(this).click(function () {
                    var conf = confirm('Bạn có muốn xóa ảnh này không ?');
                    if (conf == true) {
                        var _id = $(this).data('id');
                        $('#trow_' + _id).fadeTo('fast', 0.5, function () {
                            $(this).slideUp('fast', function () {
                                $(this).remove();
                            });
                        });
                        var current = $('#tCurrentId').val();
                        var currentId = parseInt(current) - 1;
                        $('#tCurrentId').val(currentId);
                    }
                });
            });
        });
        function BrowerServer(filed) {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                addImageProduct(fileUrl)
            };
            finder.popup();
        }
        function addImageProduct(url) {
            var current = $('#tCurrentId').val();
            var currentId = parseInt(current) + 1;
            var str = "";
            if (currentId == 1) {
                str += `<tr id="trow_${currentId}">
                            <td class="text-center">${currentId}</td>
                            <td class="text-center"><img width="80" src="${url}"/> <input type="hidden" value="${url}" name="Images"/></td>
                            <td class="text-center"><input type="radio" name="rDefault" value="${currentId}" checked="checked/></td>
                            <td class="text-center"><a href="#" data-id="${currentId}" class="btn btn-sm btn-danger btnXoaAnh">Xóa</a></td>
                        </tr>`;
            } else {
                str += `<tr id="trow_${currentId}">
                            <td class="text-center">${currentId}</td>
                            <td class="text-center"><img width="80" src="${url}"/><input type="hidden" value="${url}" name="Images"/></td>
                            <td class="text-center"><input type="radio" name="rDefault" value="${currentId}"/></td>
                            <td class="text-center"><a href="#" data-id="${currentId}" class="btn btn-sm btn-danger btnXoaAnh">Xóa</a></td>
                        </tr>`;
            }
            $('#tbodyHtml').append(str);
            $('#tCurrentId').val(currentId);
        }

    </script>

}

